@charset "UTF-8";
div,ul,li,p,h3{
    margin: 0;
    padding: 0;
}
.app{
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.app-title{
	font-size:20px;
    line-height: 50px;
	color:#333;
    text-align: center;
}
.breadNav{
	font-size:16px;
	color:#333;
	font-weight:500;
	margin-bottom:20px;
}
